.title{
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
  position: flex;  
  text-align: center; 
}

p{
  font-family: "Tinos", serif;
  font-weight: 400;
  font-style: normal;
  padding: 20px;
  font-size: 20px;
  position: flex;
  text-align: center;

}

button{
  font-family: "Tinos", serif;
  font-weight: 400;
  font-style: normal;
}

.buttonCont{
    display: flex;
    height: 10rem;
    align-items: stretch;
    width: 10rem;
    height: 10rem;
}

.nameCredit{ 
position: flex;
text-align: center;
font-size: 18px;
}

.backButtonBlack{
    background-color: black;
    color: white;
}

.backButtonBlack:hover{
    cursor: pointer;
    background-color: white;
    color: black;    
}

.backButtonWhite{
    background-color: white;
    color: black;
}

.backButtonWhite:hover{
    cursor: pointer;
    background-color: black;
    color: white;    
}

.feedbackandMappingPage{
    background-color: black;
    color: white
}

h3{
  font-family: "DM Serif Text", serif;
  font-weight: 700;
  font-style: normal;
  position: flex;  
  text-align: center;  
  font-size: 30px;
}

.infoDesignButton{
    position: flex;
    width: 50%;
    height: 50%;
}

.mappingButton{
    position: flex;
    width: 50%;
    height: 50%;
}

.characterisationButton{
    position: flex;
    width: 50%;
    height: 50%;
}

.feedbackButton{
    position: flex;
    width: 50%;
    height: 50%;
}

.column{
    float: left;
    width: 25%;

}

.infoDesignImages{
    float: left;
    width: 50%
}

.mappingImages{
    float: left;
    width: 33.33%
}

.characterisationImages{
    float: left;
    width: 25%
}

.feedbackImages{
    float: left;
    width: 50%
}